<body>
  <dif class="container">
    <dif class="row">
      <h1 class="px-3 mx-auto">
        Welcome to
        <i class="fa-sharp fa-solid fa-book"></i><strong>Bookers</strong>!
      </h1>
    </dif>
  </dif>
  <footer>
    <def class="container mt-5">
      <def class="row">
        <def class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </def>
      </def>
    </def>
  </footer>
</body>