<body>
    <script src="https://kit.fontawesome.com/f03695bd3a.js" crossorigin="anonymous"></script>
    <h1>
      Welcome to 
      <i class="fa-sharp fa-solid fa-book"></i><strong>Bookers</strong>!
    </h1>
</body>